<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-main">
    <mat-toolbar>
      <mat-toolbar-row>
        <h2>Menu</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
        <!--h2 matSubheader>Menu</h2-->
        <a mat-list-item (click)="sidenav.close()" routerLink="/">Home</a>
        <a mat-list-item (click)="sidenav.close()" routerLink="/customers">Customers</a>
        <a mat-list-item (click)="sidenav.close()" routerLink="/heroes">Heroes</a>
        <a mat-list-item (click)="sidenav.close()" routerLink="/recipes">Recipes</a>
    </mat-nav-list>
  </mat-sidenav>
    
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- almost same result-->
      <!--button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button-->

      <button mat-button class="btn-menu" (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>
      
      <span class="title">Angular Demo</span>
      <span class="toolbar-filler"></span>

      

      <mat-icon>exit_to_app</mat-icon>
      <mat-icon>person_outline</mat-icon>
      <mat-icon>home</mat-icon>
      <mat-icon>help_outline</mat-icon>
      <mat-icon>settings</mat-icon>

      <mat-icon style="margin-left: 10px;">language</mat-icon>
      <mat-select #langSelect class="select-language" [(ngModel)]="selectedLanguage" (selectionChange)="changeLanguage(langSelect.value)">
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{ lang.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Using Drawer -->
<!--mat-toolbar color="primary">
  <span class="title">Angular Demo</span>
  <span class="toolbar-filler"></span>
  <mat-icon>exit_to_app</mat-icon>
  <mat-icon>person_outline</mat-icon>
  <mat-icon>home</mat-icon>
  <mat-icon>help_outline</mat-icon>
  <mat-icon>settings</mat-icon>
  <mat-icon>accessibility</mat-icon>
</mat-toolbar>
<mat-drawer-container class="teuing-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/customers">Customers</a>
      <a mat-list-item routerLink="/heroes">Heroes</a>
      <a mat-list-item routerLink="/recipes">Recipes</a>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content><div class="app-content">
    <router-outlet></router-outlet>
  </div> </mat-drawer-content>
</mat-drawer-container-->